@30px:0.3rem;
@20px:0.2rem;
@52px:0.52rem;
@scroll:scroll;
@hidden:hidden;
@percent100:100%;
@left:left;
@right:right;
@absolute:absolute;
@relative:relative;
@base-url: "./../image";
@icon-more-url: "/more.png";
html,body,p,ul,ol,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}
input[type=checkbox], input[type=email], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text] {
    vertical-align: middle;
    outline: 0;
    color: #424242;
    -webkit-appearance: none;
    -webkit-user-select: text;
}
li{
	list-style-type: none;
}
html,body,#app{
	height: @percent100;
}
.hidden{
	display: none;
}
body,a{
	color: #5e5e5e;
}
a{
	text-decoration: none;
	
}
.color888{
	color: #888888;
}
.color666{
	color: #666;
}
.color333{
	color: #333;
}
.color-money{
	color: #F25;
}
.color-title{
	color: #212833;
}
.color-white{
	color: #ffffff;
}
.left{
	float: @left;
}
.right{
	float: @right;
}
.flex{
	display: flex;
}
.clearfix{
	overflow: hidden;
}
.pl20{
	padding-left:@20px;
}
.pl30{
	padding-left:@30px;
}
.pr30{
	padding-right:@30px;
}
.pt30{
	padding-top:@30px;
}
.pb30{
	padding-bottom:@30px;
}
.mt30{
	margin-top:@30px;
}
.center{
	text-align: center;
}
.fontSize(@size:0.3rem){
	font-size: @size;
}
.borderT{
	border-top: 1px solid #ddd;
}
.marginT(@px:0.3rem){
	margin-top: @px;
}
.marginL(@px:0.3rem){
	margin-left: @px;
}
.marginR(@px:0.3rem){
	margin-right: @px;
}
.marginB(@px:0.3rem){
	margin-bottom: @px;
}
.margin(@px:0.3rem){
	margin: @px @px @px @px;
}
.padding(@px:0.3rem){
	padding: @px @px @px @px;
}
.paddL(@px:0.3rem){
   padding-left:@px;
}
.paddR(@px:0.3rem){
   padding-right:@px;
}
.paddT(@px:0.3rem){
   padding-top:@px;
}
.paddB(@px:0.3rem){
   padding-bottom:@px;
}
.vertical(@ver:middle){
	vertical-align: @ver;
}
.radius(@radius){
   border-radius:@radius;
}
.moreDot{
  text-overflow: ellipsis;
  word-wrap:normal;
  white-space: nowrap;
  overflow: hidden; 
 }
.fixed(){
	position: fixed;
}
.border-bottom{
	border-bottom: 1px solid #e8e8e8;
}
.bg-white{
	background-color: #ffffff;
}

/*******---------------菜单---------------*******/
 #app{
    .flex();
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    height:100%;
    background-color: #f6f6f6;
  }
  .view{
    flex: 1;
    overflow: @scroll;
  }
  .menu{
    .flex();
    text-align: center;
    height: 1rem;
    .fontSize(0.24rem);
    border-top: 1px solid #E5E5E5;
  }
  .menu a{
    flex: 1;
    color: #666;
  }
  .menu img{
  	width: 0.42rem;
    height: 0.42rem;
    .marginT(0.1rem);
  }
  .menu p{
  	.marginT(0.05rem);
  }

/*******---------------首页---------------*******/
.menu a.router-link-active{
	color: #55c0ff;
}
*{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header{
	.flex();
	height: 0.92rem;
	padding:0.15rem 0.1rem;
	.fixed();
	top: 0;
	width: 100%;
}
.search-index{
	flex:1;
}
.search{
	width: 5.3rem;
    height: 0.6rem;
    .paddL(0.6rem);
    .fontSize(0.24rem);
    color: #999;
    border: none;
    background: #eee url("https://s2.mogucdn.com/p2/170315/40592144_0b8i11l822b0adfjaaifl11ig86f1_44x44.png") no-repeat 0.15rem center;
    background-size: 0.31rem auto;
    border-radius: 0.06rem;
    .radius(0.06rem);
	.fixed();
	top: 0.15rem;
}
@base-icon: "https://s2.mogucdn.com/p2/170315/";
@icon-talk-url: "40592144_0b8i11l822b0adfjaaifl11ig86f1_44x44.png";
@icon-car-url: "40592144_67ja8jj102089fj6djai0l6khb0h5_44x44.png";
.im-talk,.im-car{
    display: inline-block;
    width: 1rem;
    height: 100%;
}
.im-talk{
	background: url("@{base-icon}@{icon-talk-url}") no-repeat 0.27rem center;
    background-size: 0.44rem auto;
}
.im-car{
	background: url("@{base-icon}@{icon-car-url}") no-repeat 0.27rem center;
    background-size: 0.44rem auto;
}
.carousel{
	.marginT(0.92rem);
}
.carousel img{
	width: @percent100;
}
.advert{
	.flex();
}
.advert>div{
	flex:1;
}
.advert-item{
	.center();
	p{
		.fontSize(.28rem);
	}
	section{
		.fontSize(.24rem);
		.color666();
		margin: 0.05rem auto 0.15rem;
	}
	img{
		width: 1rem;
		margin: 0 auto;
	}
}

.rob{
	.marginT(.2rem);
}
.rob-title{
	.left();
	.fontSize();
	padding: 0.3rem 0.35rem 0.2rem .3rem;
}
.rob-arrow{
    .right();    
    margin-right: 0.35rem;
    .marginT(-.3rem);
    img{
    	height: 0.25rem;
    	margin-top: -0.02rem;
    }
}
.rob-list{
	overflow: @scroll;
	width: 7.2rem;
	margin: 0.1rem 0 0.16rem 0.3rem;
}
.rob-item,.special-item{
    overflow: @hidden;
    min-width: 100%;
}
.rob-item{
    li{
	    float: left;
	    white-space: nowrap;
        width: 1.8rem;
	    height: 2.5rem;
	    margin-right: 0.2rem;
	    img{
            width: 1.5rem;
            margin: 0 0.15rem;
	    }
	    p{
            .fontSize(.2rem);
            .moreDot();
            margin-bottom: 0.08rem;
	    }
	    small{
	    	.fontSize(.26rem);
	    }
    }
}
.rob-item del{
	.fontSize(.2rem);
}

.selling{
	.marginT(.2rem);
	.head{
	    height: .8rem;
	    line-height: .84rem;
	    .color333();
	    text-indent: .2rem;
	    .fontSize(.28rem);
	    font-weight: normal;
	}
}
.selling-warp{
	border-top: 1px solid #ddd;
	.flex();
	flex-direction:row;
	
	p{
		.fontSize(.28rem);
		font-weight: bold;
		.marginT(.54rem);
	}
	section{
		.fontSize(.24rem);
		color: #999;
		.marginT(.1rem);
	}
	img.big{
		width: 2.2rem;
	}
	img.small{
		width: 1.8rem;
	}
}
.selling-warp>div{
	flex:1;
	border-right: 1px solid #ddd;
}

.special{
	.borderT();
	.paddL(0.2rem);
	.paddR(0.2rem);
	.paddT(0.2rem);
	.marginB(-0.2rem);
	img{
		.radius(0.1rem);
	}
}
.special-list{
	overflow: @scroll;
    width: @percent100;
}
.special-item{
	.marginL(0.2rem);
}
.special-item img{
    .marginR(0.16rem);
    height: 1.56rem;
    .marginT(0.2rem);
    .radius(0.1rem);
}
.special-item p{
	.fontSize(0.25rem);
}

.guss-like h2{
    .fontSize(0.3rem);
    .color333();
    width: 3.13rem;
    background: url(http://s18.mogucdn.com/p1/160415/upload_ifrwkyzymu2damdgg4zdambqhayde_313x10.png) center center no-repeat;
    background-size: 3.13rem auto;
    line-height: 1;
    margin: 0.2rem auto;
}
.ware{
	.marginR(0.2rem);
}
.ware-item{
	.marginL(0.2rem);
	.marginB(0.2rem);
	width: 3.45rem;
	img{
		width: @percent100;
		height: 4.62rem;
	}
	.props{
		height: .9rem;
		.paddL(.06rem);
		.paddR(.06rem);
		overflow-y: @hidden;
	}
	.prop{
		float: left;
	    height: .36rem;
	    line-height: .36rem;
	    padding: 0 .06rem;
	    margin: 0 0 .06rem .06rem;
	    font-size: .22rem;
	    background: #eff3f6;
	    color: #5a6f7a;
	}
}
.like-price{
    .fontSize();
    .paddL(.06rem);
    .paddB(.06rem);
    font-weight: 700;
    .color333();
}
.like-zan{
	.paddR(.06rem);
	.paddB(.06rem);
	.fontSize(.24rem);
	color:#999;
}

/*******---------------列表---------------*******/
.flag-list{
	overflow:@scroll;
	width:6.62rem;
	.border-bottom();
}
.headerH{
	height:0.88rem;
	line-height:0.88rem;
}
.flag{
    overflow:@hidden;
	.headerH();
	.pl30();
	.pr30();
	min-width:@percent100;
}
.flag li{
	.fontSize(0.32rem);
	margin-right:@52px;
	float: @left;
    white-space: nowrap;
}
.flag li:last-child{margin-right:0;}
.flag-more{
	position:@absolute;
	top:0;
	right:0;
	.headerH();
	width:0.88rem;
	background: url("@{base-url}@{icon-more-url}") center no-repeat;
	background-size: 50%;
	.bg-white();
	box-shadow: -1px 0 3px rgba(0,0,0,.1);
	-moz-box-shadow: -1px 0 3px rgba(0,0,0,.1);
    -webkit-box-shadow: -1px 0 3px rgba(0,0,0,.1);
}
.article-item{
	display: flex;
	.border-bottom();
	.paddL();
	.paddR();
	a{
		display: inline-flex;
        width: @percent100;
	}
}
.article-item div{
	height: 1.2rem;
	.marginT();
	.marginB();
}
.article-item div:first-child{
	width: 2.44rem;
}
.article-item div:last-child{
	flex:1;
}
.article-item img{
	width:2.14rem;
	height: 1.2rem;
	.fontSize(0.3rem);
}
.item-title{
	height: .96rem;
	line-height: .48rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	.fontSize(0.34rem); 
	.color-title();
}
.item-info{
	.fontSize(0.24rem);
	.color888();
}

/*******---------------我的---------------*******/
.mine-header{
	height: 1.8rem;
	img:first-child{
		width: 1.2rem;
		height: 1.2rem;
		.radius(.6rem);
		.marginT(.3rem);
		.marginL(.4rem);
		.marginR(.2rem);
	}
	div{
		.marginT(-.15rem);
	}
	span{
		.fontSize(.36rem);
	}
	p{
		.fontSize(.24rem);
	}
	.arrow{
		.marginT(.68rem);
	}
}
.arrow{
	width: .15rem;
	.marginR(.4rem);
}
.order{
	.marginT(.2rem);
}
.orderT{
	.fontSize(.32rem);
	line-height: 1rem;
	img:first-child{
		width: .56rem;
	    height: .56rem;
	    margin: .23rem;
	    .radius(.28rem);
	}
	.arrow{
		.marginT(.35rem);
	}
}

.order-tab{
	.flex();
	line-height: .6rem;
	flex-direction:row;
	section{
		.fontSize(.28rem);
		.color333();
	}
	img{
		width: .38rem;
		.vertical();
	}
	.point-icon{
		background-color: #f5123e;
		.fontSize(.22rem);
		.color-white();
		width: .34rem;
	    height: .34rem;
	    line-height: .34rem;
	    border-radius: 50%;
	    position: @absolute;
	    top: .1rem;
        right: .55rem;
	}
}
.order-tab>div{
	flex:1;
	position: @relative;
}
.app-download{
	.marginT(.2rem);
	.fontSize(0);
	img{
		width: @percent100;
	}
}
.mine-list{
	.marginT(.2rem);
	.bg-white();
}
.mine-list a{
	color:#000;
}
.mine-list .orderT>div{
	width: 6.3rem;
	border-bottom: 1px solid #eee;
}
.button-reb{
	width: 6.6rem;
	margin: .3rem auto;
    height:.8rem;
    line-height: .8rem;
    background-color: #ff5777;
    .color-white();
    .fontSize();
    .radius(.1rem);
    .center();
}
/*购物车*/
.car-header{
    .fontSize(0.36rem);
    position: @relative;
    .center();
    height: 0.9rem;
    line-height:0.9rem;
    .border-bottom();
}
.header-right{
	position: @absolute;
	.fontSize(0.26rem);
	right: 0.15rem;
	top: 0;
	span{
		height: 0.5rem;
		margin: 0.2rem 0.1rem;
	    .left();
        line-height: .5rem;
         color: #5e5e5e;
	}
}
@new-icon:"http://s16.mogucdn.com/p2/161025/upload_6ikcld7a2ba91958k666ja446bld2_64x60.png";
.new-icon{
	display: inline-block;
	width: 0.5rem;
	background: url("@{new-icon}");
	background-size:100%;
}
.empty{
	position: @absolute;
	top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.empty-text{
    .fontSize(0.32rem);
    .marginB();
    color: #5e5e5e;
}
.empty-btn{
	color: white;
    background: #55c0ff;
    .fontSize(0.3rem);
    padding: 0.12rem 0.25rem;
    border-radius: 0.08rem;
    margin: 0.08rem auto;
    width: 2rem;
}
.shop{
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin: 0.3rem 0;
}
@shop-checkbox:"http://s10.mogucdn.com/img/x6/img/checkbox.png";
.shop-checkbox{
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.1rem;
    background: url("@{shop-checkbox}") 0 100% no-repeat;
    background-size: 0.4rem auto;
    border: none;
}
.shop-checkbox-checked{
	background-position: 0 0;
}
.goods input[type=checkbox]{
	vertical-align: 0.7rem;
}
.shop-head{
	padding: 0.16rem 0.3rem;
    border: none;
    font-size: 0.28rem;
    font-weight: 400;
    background: #fff;
    border-bottom: 1px solid #E5E5E5;
}
.shopInfo a{
	.fontSize(0.28rem);
}
.goods{
	position:@relative;
	padding: 0.16rem 0.3rem;
}
.goods img{
	width: auto;
    height: 1.92rem;
    .marginT(0.2rem);
}
.goods-right{
	position: @absolute;
	.marginL(1.6rem);
    height: 1.92rem;
    top: 0.3rem;
    left: 1.1rem;
    .marginR(0.2rem);
}
.good-title,.good-desc{
    .fontSize(0.24rem);
}
@999:#999;
.good-desc{
    color: @999;
}
.good-price{
	.fontSize(0.32rem);
	.marginT(0.45rem);
}
.oldprice{
	.fontSize(0.24rem);
	text-decoration: line-through;
	color: @999;
}
.good-price .number{
	.fontSize(0.24rem);
	color: @999;
	.right();
}
.settlement{
	position: fixed;
    bottom: 1rem;
    width: 100%;
    height: 1rem;
    padding: 0.2rem 0.3rem;
    border-top: 1px solid #d8d8d8;
    background: #fff;
    z-index: 10;
    .fontSize(0.28rem);
}
.selectAll{
    line-height: 0.3rem;
    vertical-align: top;
}
.settle-btn{
	.right();
    right: 0.3rem;
    padding: 0.12rem 0.4rem;
    color: white;
    background: #ff5777;
    .radius(0.08rem);
}